{{!-- about section --}}
<section id="about_us_section" class="banner3_section">
    <div class="cont2 text-center">
        <section class="banner3 py-5">
            <div class="container media-p my-4">
                <div class="row">
                    <div class="col-md-6 text-start height-100 pad-0">
                        <!-- left side -->
                        <span class="about-head-text">ABOUT US</span class="about-head-text">
                        <h1 class="about-title">Live simply so that others may simply live.</h1>
                        <p class="gray about-dis">
                            Venus Internationals is working in the areas of RRR i.e. Reduce, Reuse, Recycle. We
                            have skilled and trained work force at our workshop.
                        </p>
                        <p class="gray about-dis">
                            We have been working on up cycling of materials and have worked with huge range of
                            materials.
                        </p>
                        <p class="gray about-dis">
                            We offer wide range of products from Homes, Offices, Farm House’s, Resorts etc. In
                            Short that’s easy to put together, eco friendly and durable.
                        </p>
                        <button class="btn btn-green mt-4 py-2 "><a style="text-decoration: none; color: white;"
                                href="/contact">Contact us</a></button>
                    </div>
                    <div class="col-md-6 text-end height-100 b3-py1">
                        <!-- right side -->
                        <div>
                            <img src="/images/bedroom.webp" class="img-fluid ban-img2" height="100%" width="100%"
                                style="max-height: 40rem;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>