{{!-- footer section --}}
<section id="contact_us_section" class="footer-section">
    <footer>
        <div class="container cont5">
            <div class="cont6">
                <div class="foot-png-cont">
                    <div class="foot-png">
                        <!-- <img src="./images/Venus-logo.png" alt=""> -->
                    </div>
                </div>
                <div class="footer-address">
                    <span>
                        A-203, Chandra Enclave, Rai, Near
                    </span>
                    <span>
                        Royal School, Bhayandar (West),
                    </span>
                    <span>
                        Thane - 401101.
                    </span>
                </div>
            </div>
            <div class="footer-nav">
                <span class="us-link">Navigations</span>
                <span><a href="/">Home</a></span>
                <span><a href="/gallery">Gallary</a></span>
                <span><a href="#about_us_section">about us</a></span>
                <span><a href="/contact">contact us</a></span>
            </div>
            <div class="footer-service">
                <span class="us-link">Services</span>
                <span><a>Homes</a></span>
                <span><a>Resorts</a></span>
                <span><a>Offices</a></span>
            </div>
            <div class="footer-social">
                <span class="foot-social-head">Salvador Rodrigues</span>
                <span class="foot-social-sub">Director</span>
                <div class="foot-contact">
                    <span><i class="fa-solid fa-phone-volume contact-png"></i>+(91) 8976392353</span>
                    <span><i class="fa-regular fa-envelope-open contact-png"></i><a href="mailto:info@venusinternationals.com" style="color: rgb(187, 179, 179);text-decoration:none;"> info@venusinternationals.com </a></span>
                    <span><i class="fa-solid fa-globe contact-png"></i>www.venusinternationals.com</span>
                </div>
            </div>
        </div>
    </footer>
    <div class="row foot-right">
        <div class="col-md-12 py-1 text-center" style="max-width: 1320px;margin: 0 auto;border-top: 1px solid #726969;">
            <p>&copy; 2023 Venus Internationals. All rights reserved.</p>
        </div>
    </div>
</section>