<!-- home-banner section -->
<section class="start-section ">
    <div class="start-img">
        <!-- <img id="start-img" src="./images/st.jpg" > -->
        <div class="overlay"></div>
        <div class="conatainer start-box">
            <div class="start-box-left">
                <div class="star-box-left-in">
                    <span class="start-text">
                        We make your dreams come true.
                        <!-- <img src="./images/Venus-logo.png" alt=""> -->
                    </span>
                    <!-- <div class="start-left-bottom">
                            <button class="btn-con" id="contact_us">
                                <a style="text-decoration: none; color: white;" href="#contact_us_section">Contact us</a>
                            </button>
                            <div class="p_number">
                                <span class="quiry-text">call us (91+) 897-639-2353</span>
                                <span class="quiry-text">For any inquiry</span>
                            </div>
                        </div> -->
                </div>
            </div>
            <div class="start-box-right"></div>
        </div>
    </div>
</section>