{{!-- images display section --}}
<section id="display_section" class="display-pic" >
    <div class="container text-center ">
        <span class="pics-title">Enjoy Your Vacation Here</span>
        <span class="pics-title-sub">We offer wide range of products from Homes, Offices, Farm House’s, Resorts etc.
            In
            Short that’s easy to put together, eco friendly and durability</span>
        <div class="cont3 text-center py-5">
            <div class="cont-img">
                <div id="ban3-1">
                    <!-- <img id="ban3-1" class="ban-3" src="./images/sh-1.jpg" alt=""> -->
                </div>
            </div>
            <div class="cont-img">
                <div id="ban3-2">
                    <!-- <img id="ban3-2" class="ban-3" src="./images/sh-2.jpg" alt=""> -->
                </div>
            </div>
            <div class="cont-img">
                <div id="ban3-3">
                    <!-- <img id="ban3-2" class="ban-3" src="./images/sh-2.jpg" alt=""> -->
                </div>
            </div>
        </div>
        <div class="pb-4">
            <a class="btn-a" href="/gallery">
                <button class="btn-gal" >
                    Visit Gallery
                </button>
            </a>
        </div>
        {{!-- <button class="btn btn-green"><a style="text-decoration: none; color: white;" href="/gallery">Visit
                Gallery</a></button> --}}
</section>