<section id="home_section">
    <nav class="navbar navbar-expand-lg py-2 bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" aria-label href="/">
                <img src="/images/logo/favicon-32x32.png" alt="" width="60" height="30"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" id="i1" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="i2" aria-current="page" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="i3" aria-current="page" href="#about_us_section">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="i4" aria-current="page" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>