{{!-- services section --}}
<section id="about_us_section" class="services-section">
    <div class="container">
        <div class="row text-center">
            <h2 class="pb-5">Our Services</h2>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div>
                        <i class="fa-solid fa-house serv-png"></i>
                    </div>
                    <h3>Homes</h3>
                    <p>Create sustainable and modern container homes for families and individuals looking for
                        affordable and eco-friendly housing solutions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="service-item">
                    <div>
                        <i class="fa-solid fa-hotel serv-png"></i>
                    </div>
                    <h3>Resorts</h3>
                    <p>Create unique and sustainable resort accommodations using repurposed shipping containers,
                        providing guests with a one-of-a-kind experience while minimizing environmental impact.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div>
                        <i class="fa-solid fa-building serv-png" style="font-size: 2.2rem;width: 4.5rem;"></i>
                    </div>
                    <h3>Offices</h3>
                    <p>Design and build innovative container-based office spaces that are functional,
                        customizable, and cost-effective for businesses of all sizes..</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- //services section end --}}