<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="preload icon" href="/images/Venus_logo.webp" as="image"> --}}
    <link rel="preload icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32x32.png">
    <link rel="preload icon" type="image/png" sizes="16x16" href="/images/logo//favicon-16x16.png">
    <title>Venus - Gallery Page with Filter Example</title>
    <meta name="Description"
        content="Find here online price details of companies selling Container Homes, container house, shipping container homes. Get info of suppliers, manufacturers, exporters, traders of Container Homes for buying in India.">
    <meta name="Keywords"
        content="Container Homes, container house, shipping container homes, container cabin, prefab container homes, luxury container homes, manufacturers, suppliers, exporters, traders, dealers, manufacturing companies, retailers, producers, Prefabricated Houses &amp; Structures India">
    <!-- Add Bootstrap CSS -->
    <link rel="preload stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        as="style" type="text/css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link rel="preload stylesheet" href="/css/gallary.css" as="style" type="text/css">
    <link rel="preload" as="image" href="/images/banner.webp">
</head>

<body>
    {{>navbar}}


    {{!-- hero section --}}
    <div class="banner_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-section">
                        <h1 class="text-center">Welcome to Our Gallery</h1>
                        <p class="text-center">Your imagination is your limit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{>gallery_sec gallery=gallery}}


    {{>services}}


    {{>footer}}

    <!-- Add jQuery and Bootstrap JS -->
    <script src="https://kit.fontawesome.com/79fd4dd9aa.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Add custom JS for gallery filter -->
    <script>
        let nav_items2 = document.getElementById("i2");

        nav_items2.style.color = "rgb(67,160,71)";


        $(document).ready(function () {
            // Filter buttons click event
            $('.filter-btn-group .btn').on('click', function () {
                // Add and remove active class
                $('.filter-btn-group .btn').removeClass('active');
                $(this).addClass('active');

                // Get the filter category
                var filterCategory = $(this).data('filter');

                // Show/hide gallery items based on filter category
                if (filterCategory === 'all') {
                    $('.gallery-items .gallery-img').show();
                } else {
                    $('.gallery-items .gallery-img').hide();
                    $('.gallery-items .' + filterCategory).show();
                }
            });
        });
    </script>
</body>

</html>